* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #fafafa;
    overflow-x: hidden;
display: flex;
flex-direction: column;
justify-content: center;
justify-items: center;
align-items: center;

}
.para {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #737373;
}

/* header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

/* navbar */

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 91px;
    border-radius: 34px;
    color: #ffffff;
    padding: 0 200px;
}

.navber-con {
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar-logo {
    display: flex;
    padding: 13px 35px 13px 0px;
    gap: 10px;
}

.navbar-logo-txt {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #ffffff;
}

.navbar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    Width: 815px;
    Height: 58px;
    padding: 3px 0px;
}

.navbar-links {
    display: flex;
    gap: 21px;
}

.navbar-links li{
    list-style-type: none;
}

.navbar-links li a {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

.navbar-sign{
    display: flex;
    justify-content: center;
    height: 52px;
    gap: 50px;
}

.signin {
    display: flex;
    align-items: center;
    gap: 10px;
}

.signin a { 
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2px;
    text-align: right;
    text-decoration: none;
    color: #ffffff;
}

.signup {
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.signup button {
    display: flex;
    padding: 15px 25px 15px 25px;
    gap: 15px;
    border-radius: 5px;
    background-color: #23A6f0;
    border: none;
    color: #ffffff;
}

/* /navbar */

/* hero */

.hero-bg-img {
    height: 90%;
    width: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5); 
    filter: brightness(50%); 
}

@media screen and (max-width: 430px) {
    .hero-bg{
        margin-top: 100px;
    }
}

.hero-con {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 140px;
    padding: 0 200px;
    height: 973px;
}


.hero-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
     
}

.hero-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: #ffffff;
}

.hero-heading h1 {
    font-size: 58px;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: 0.3px;
    text-align: justify;
}

.hero-heading h4 {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.2px;
    text-align: center;
}

.hero-nav {
    display: flex;
    gap: 10px;
}

.hero-nav button {
    padding: 15px 36px 15px 36px;
    gap: 10px;
    border-radius: 37px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2px;
    text-align: center;
}


.hero-bot {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.hero-cards {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.hero-cards-con {
    display: flex;
    flex-direction: column;
    width: 328px;
    height: 200px;
    padding: 35px 40px 35px 40px;
    background-color: #ffffff;
    gap: 10px;
}
/* top-main-card-h3 */
.hero-cards-con h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    text-align: left;
}

.heading3{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    text-align: left;
}


/* /hero */

/* /header */

/* features */

.features{display: flex;
    justify-content: center;
    align-items: center;
}

.features-con{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 435px;
    width: 100%;
    background-color: #ffffff;
    gap: 30px;
}

.features-con div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 50px;
    background-color: #ffffff;
    gap: 30px;
}

.features-con div i {
font-size: 50px; 
color: #23A6F0;
}

.features-con div h5{font-size: 16px;}

/* /features */

/* testimonials */

.Testimonials {
height: 900px;
display: flex;
flex-direction: column;
gap: 100px;
align-items: center;
justify-content: center;
background-color: #fafafa;
}

.Testimonials-con {
display: flex;
flex-direction: column;
justify-content: center; 
align-items: center;
width: 1050px;
gap: 100px;
background-color: #fafafa;
}

.testimonials-txt {
text-align: center;
display: flex;
flex-direction: column;
gap: 10px;
}

.testimonials-cards {
display: flex;
gap: 100px;
}

.testimonials-cards div{
display: flex;
justify-content: center;
flex-direction: column; 
gap: 40px 35px;
text-align: center;
align-items: center;
height: 377px;
width: 295px;
background-color: #ffffff;
border: 1px solid #e5e5e5;
}

.testimonial-img {
border: 1px solid #e5e5e5;
border-radius: 50%; 
}

.testimonial-txt {
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
align-items: center;
gap: 15px;
}
/* /estimonials */

/* content */
.content {
height: 339px;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #fafafa;
}

.content-img {
display: flex;
justify-content: center;
align-items: center;
height: 175px;
gap: 50px 30px;
}

.content-img i{
    width: fit-content;
    height: fit-content;

}

.content-con-bot {
height: 164px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.content-con-bot-1 {
height: 164px;
width: 1048px;
display: flex;
justify-content: center;
align-items: center;
gap: 30px 50px;
}

.content-con-bot-2 {
height: 124px;
width: 1048px;
border-radius: 3px;
background: rgb(1,71,137);
color: #ffffff;
background: linear-gradient(90deg, rgba(1,71,137,1) 0%, rgba(213,20,137,1) 100%);
}

.content-con-bot-3 {
height: 124px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 50px;
}

.content-con-bot-5 {
display: flex;
height: 58px;
width: 450px;
border-radius: 5px;
overflow: hidden;
}

.content-con-bot-6 {
height: 58px;
width: 333px;
padding: 0 30px;
border: none;
outline: none;
border-radius: 5px 0 0 5px;
border: #e5e5e5 solid 1px;
}

.content-con-bot-7 {
height: 58px;
width: 117px;
border: none;
outline: none;
border-radius: 0 5px 5px 0;
color: #ffffff;
background-color: #23A6F0;
border: #e5e5e5 solid 1px;
}
/* /content */

/* pricing */
.pricing {
height: 1132px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #fafafa;
}

.pricing-container {
width: 1050px;
height: 1116px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
padding: 112px 0;
gap: 140px;
}

.pricing-row1 {
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
}

.pricing-row2 {
display: flex;
justify-content: center;
align-items: center;
height: 705px;
gap: 1px;
}

.pricing-row2-card-1 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
gap: 35px 0;
height: 665px;
width: 327px;
background-color: #ffffff;
border-radius: 5px;
padding: 370px 0;
border: #23A6F0 1px solid;
}

.pricing-top {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 35px 0;
}

.pricing-service-list {
display: flex;
flex-direction: column;
gap: 15px 0;
}

.pricing-service-list-item {
display: flex;
align-items: center;
gap: 0 10px;
text-align: left;
}

.pricing-service-list-item-i {
color: #2dc071; 
font-size: 32px;
}

.pricing-service-list-item-h6 {
font-size: 14px;
font-weight: 600;
}

.pricing-btn {
color: #ffffff;
background-color: #23A6F0;
padding: 15px 80px;
border: none;
border-radius: 5px;
}

/* /pricing */

